/* Styles for the Coin Flip game */
.coin-flip-game {
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10px;
  }
  
  .flip-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: none;
    color: rgba(46, 230, 230, 0.9);
    border: black 2px solid;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s;
  }
  
  .flip-button:hover {
    background-color: rgba(46, 230, 230, 0.9);
    color: gray;
  }
  
  .result {
   border-radius: 5px;
   border-color: gray 2px solid;
    margin: 20px 0;
    font-size: 24px;
    padding: auto;
  }
  
  .flip-info {
    margin-top: 20px;
    font-size: 18px;
  }


/* General styling */
.scoreboard-container {
  max-width: 400px;  /* Adjust the container width */
  margin: 0 auto;
  padding: 15px;
  padding-top: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  
}

.scoreboard-title {
  text-align: center;
  font-size: 20px;  /* Smaller title font size */
  margin-bottom: 15px;
  color : white;
  border: color gray 100px solid;
}

/* List of scores */
.scoreboard-list {
  display: flex;
  flex-direction: column;
  color: rgba(46, 230, 230, 0.9);
}

/* Individual username-score boxes */
.scoreboard-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;  /* Less padding */
  border: 1px solid #ccc;
  border-radius: 4px;  /* Smaller border radius */
  
  align-items: center; /* Align items vertically centered */
}

/* Styling for usernames and scores */
.username-box, .score-box {
  text-align: center;
  font-size: 14px;  /* Smaller font size */
  margin: 0;  /* Remove any default margin */
  padding: 0;  /* Remove any default padding */
  color: gray;
}

/* Optional: add some background colors to differentiate */
.username-box {
  
  color: rgba(46, 230, 230, 0.9);
}

.score-box {
  
  color: rgba(46, 230, 230, 0.9);
}
